body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
    
}
.header {
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    padding: 0px 80px 0px 80px;
}

.top {
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.low-center {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
    
}
.quote {
    flex: auto;
    max-width: 500px;
    
}
.fox {
    max-width: 700px;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 50px;
    max-height: none;
    border-style: none;

}  
.about {
    text-align:left;
    font-size: 18px;
    color: #E5E7EB;
    padding: 30px;
    margin-left: 50px;
    flex-shrink: 1;
}
.about h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
button {
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: #0060fc;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
.header-links {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}
.image-container {
    color: gray;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.image {
    display: flex;
    flex-direction: column;
    flex-shrink: 1; 
    
}
img {
    max-width: 400px;
    max-height: 400px;
    border-style: solid;
    border-radius: 20px;
    border-width: 8px;
    border-color: #3882F6;
    flex-shrink: 1;
}
.low-center .autograph {
    font-size: smaller;
    align-self: flex-end;
    justify-self: flex-end;
}
.loota {
    display: flex;
    max-width: 700px;  
}
.bottom {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.blue-box {
    flex-shrink: 1;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.highlighted {
    font-size: large;
    font-weight: bold;
}
footer {
    color: #E5E7EB;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
}
